﻿@using CollegeFootballTeamSearch.Web.Enums
@{
    ViewData["Title"] = "Search";
}
<div class="jumbotron">
    <div class="row">
        <h1 class="col-12 display-4">Search</h1>
    </div>
    <div class="row">
        <form id="filters" class="col-12 mt-3">
            <div class="form-group row">
                <div class="col-md-8">
                    <input id="query" class="form-control" placeholder="search text here"/>
                </div>
                <div class="col-md-4">
                    <select id="field" class="form-control">
                        <option value="@((int) FilterFieldType.All)">All</option>
                        <option value="@((int) FilterFieldType.Rank)">Rank</option>
                        <option value="@((int) FilterFieldType.Team)">Team</option>
                        <option value="@((int) FilterFieldType.Mascot)">Mascot</option>
                        <option value="@((int) FilterFieldType.DateOfLastWin)">Date of last win</option>
                        <option value="@((int) FilterFieldType.WinningPercetnage)">Winning percetnage</option>
                        <option value="@((int) FilterFieldType.Wins)">Wins</option>
                        <option value="@((int) FilterFieldType.Losses)">Losses</option>
                        <option value="@((int) FilterFieldType.Ties)">Ties</option>
                        <option value="@((int) FilterFieldType.Games)">Games</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 mt-3">
                    <button type="button" class="form-control btn btn-primary" onclick="search()">Find</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center" id="loader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="results" class="table">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Mascot</th>
                <th>Date of last win</th>
                <th>Winning percetnage</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th>Games</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
